.fs-12{
    font-size: 12px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  background: url('image/calendar.png') no-repeat;
  margin: 0;
  justify-content: right;
}



.general-form {
    padding: 5px;
    width: 100%;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    outline: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
}

.slct3:disabled {
    background: transparent;
}

.dropdown-toggle::after {
    float: right;
    margin-top: 7px;
}

select#safety-select option[value="Safety"]   { 
    background-image:url('image/security.png');
}

a:link{
    color: #1B8BCE;
}
a{
    color: #1B8BCE;
}


.btn-cancel{
    border: 0; 
    outline: none !important;
    background-color: transparent !important;
    color: #8B8B8B;
    font-size: 12px;
}

.btn-create{
    border: 0; 
    outline: none !important; 
    color: #FFFFFF; 
    background-color: #1B8BCE; 
    border-radius: 2px;
    height: 30px;
    width: 62px;
    font-size: 12px;
}

.fc-grey{
    color: #505050;
}

.fc-silver{
    color: #AEAEAE;
}

.form-input::placeholder {
    color: #C8C8C8;
}

.tbl-csv tr td {
    font-size: 12px;
}

.tbl-csv thead{
    background-color: #42A4DF;
    color: #FFFFFF;
}
.tbl-csv tbody{
    background-color: #FFFFFF;
    border-bottom: 1px solid #F0F0F0;
}

#style-2::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 4px;
    height: 4px;
    border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(97, 94, 255, 1);
}

.checkbox {
    position: relative;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #FFFFFF;
    border: 1px solid hsl(0, 0%, 82%);
    border-radius: 2px;
    margin: 0;
    outline: none;
    cursor: pointer;
}

.checkbox:checked {
    background-color: #FFFFFF !important;
}

.checkbox:checked:before {
   position: absolute;
   left: 1.5px;
   top: -1.5px;
   display: block;
   content: '\2713';
   text-align: center;
   font-family: Arial;
   font-size: 12px;
   font-weight: 800;
}

.checkbox-primary {
    width: 13px !important;
    height: 13px !important;
}
.checkbox-primary:checked:before {
    color: #42A4DF !important;
    top: -1px !important;
    left: 1px !important;
    font-size: 09px !important;
}

.modal-dialog{
    margin-top: 70px !important;
}



.switch {
    display: inline-block;
    height: 14px;
    position: relative;
    width: 27px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #EDEDED;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #BEBEBE;
    bottom: 1px;
    top: -0.9px;
    content: "";
    height: 16px;
    left: 1px;
    right:2px;
    position: absolute;
    transition: .4s;
    width: 16px;
  }
  
  input:checked + .slider {
    background-color: #DAFFDF;
  }

  input:checked + .slider:before {
    background-color: #47CA5B;
    transform: translateX(13px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


ul li{
    list-style: none;
}


@media screen and (max-width: 1360px) {
  .change-w3{
    width: 20% !important;
  }
}


@media screen and (max-width: 1065px) {
    
    .fs-12{
        font-size: 10px !important;
    }

    .change-w{
      width: 70% !important;
    }
}


@media screen and (max-width: 925px) {
    
    .fs-12{
        font-size: 09px !important;
    }
}

@media screen and (max-width: 890px) {
    
    .fs-12{
        font-size: 09px !important;
    }

    .change-w{
        width: 82% !important;
    }

    .change-w1{
        width: 38% !important;
    }
    .change-w2{
      width: 23% !important;
    }
    .change-w3{
      width: 25% !important;
    }
}









.form-control {
  width: 100%;
}
.multiselect-container {
  box-shadow: 0 3px 12px rgba(0,0,0,.175);
  margin: 0;
}
.multiselect-container .checkbox {
  margin: 0;
}
.multiselect-container li {
  margin: 0;
  padding: 0;
  line-height: 0;
}
.multiselect-container li a {
  line-height: 25px;
  margin: 0;
  padding:0 11px;
}

li a:link{
  color: #313131;
}

.dropdown-menu {
  top: 2px !important;
  left: -1px !important;
}

.dropdown-menu label {
  margin: 0px !important;
}

li a:hover{
  color: #313131;
  text-decoration: none !important;
  cursor: pointer;
}

.custom-btn {
  width: 100% !important;
  border: 1px solid #D8D8D8;
  border-radius: 2px;
}

.btn {
  overflow: hidden;
  padding-right: 1.25rem !important;
  height: 29.2px !important;
  box-shadow: none;
}

.form-control:focus {
  border-color: transparent !important;
}

.btn.focus, .btn:focus {
  box-shadow: none !important;
}

.dropdown-toggle::after {
  position: absolute;
  right: 5px;
}

.custom-btn .btn, .custom-multi {
  text-align: left;
  width: 100% !important;
}
.dropdown-menu > .active > a:hover {
  color:inherit;
}

.multiselect{
  font-size: 11px !important;
}


li{
  font-size: 12px !important;
}
